<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Контакты - Татьяна Хорошилова</title>
    <link rel="icon" href="images/photo-camera.png" type="image/x-icon">
    <meta name="keywords" content="Ключевые слова, и, фразы, через, запятую">
    <meta name="description" content="Описание контента страницы, 1-2 предложения.">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300" rel="stylesheet">
    <link rel="stylesheet" href="css/main.css">

</head>
<body class="body">
    <div class="shadow"></div>
    <div class="container">
        <header class="header">
            <div class="logo">
                <a class="link logo_image logo_image__contacts" href="index.html" title="Татьяна Хорошилова"></a>
                <h1 class="logo_title">Татьяна Хорошилова</h1>
            </div>
        </header>
        <nav class="nav">
            <ul class="navigation">
                <li class="navigation_link">
                    <a class="link" href="portfolio.html" title="Портфолио">
                        Портфолио
                    </a>
                </li>
                <li class="navigation_link">
                    <a class="link"href="price.html" title="Цены">
                        Цены
                    </a>
                </li>
                <li class="navigation_link">
                    <a class="link" href="blog.html" title="Блог">
                        Блог
                    </a>
                </li>
                <li class="navigation_link">
                    <a class="link link__active" href="contacts.html" title="Контакты">
                        Контакты
                    </a>
                </li>
            </ul>
        </nav>
        <main class="main">
            <div class="qr">
                <div class="qr_image"></div>
            </div>
            <div class="card">
                <div class="contacts">
                    <div class="photo"></div>
                    <ul class="contacts_details">
                        <li class="contacts_info">Татьяна Хорошилова</li>
                        <li class="contacts_info"><a class="link" href="tel:89169915770">89169915770</a></li>
                        <li class="contacts_info"><a class="link" href="mailto:tatyana@khoroshilova.pro">tatyana@khoroshilova.pro</a></li>
                    </ul>
                </div>
            </div>
        </main>
        <footer class="footer">
            <div class="social">
                <a class="link social_link social_link__instagram" href="#" title="Instagram"></a>
                <a class="link social_link social_link__vk" href="#" title="VK" ></a>
            </div>

            <p class="copyright">© 2018 khoroshilova.pro Copyright</p>
        </footer>
    </div>
</body>
</html>