<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Портфолио - Татьяна Хорошилова</title>
    <link rel="icon" href="images/photo-camera.png" type="image/x-icon">
    <meta name="keywords" content="Ключевые слова, и, фразы, через, запятую">
    <meta name="description" content="Описание контента страницы, 1-2 предложения.">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300" rel="stylesheet">
    <link rel="stylesheet" href="css/main.css">

</head>
<body class="body">
    <div class="shadow"></div>
    <div class="container">
        <header class="header">
            <div class="logo">
                <a class="link logo_image logo_image__portfolio" href="index.html" title="Татьяна Хорошилова"></a>
                <div class="logo_info">
                    <h1 class="logo_title">Татьяна Хорошилова</h1>
                    <h2 class="logo_subtitle">Фотограф-ретушёр</h2>
                </div>
            </div>

            <nav class="nav">
                <ul class="navigation">
                    <li class="navigation_link">
                        <a class="link link__active" href="portfolio.html" title="Портфолио">
                            Портфолио
                        </a>
                    </li>
                    <li class="navigation_link">
                        <a class="link"href="price.html" title="Цены">
                            Цены
                        </a>
                    </li>
                    <li class="navigation_link">
                        <a class="link" href="blog.html" title="Блог">
                            Блог
                        </a>
                    </li>
                    <li class="navigation_link">
                        <a class="link" href="contacts.html" title="Контакты">
                            Контакты
                        </a>
                    </li>
                </ul>
            </nav>
        </header>

        <main class="main">

            <div class="photo-albums">
                <h2>
                    <a href="portfolio.html" class="link link__active">Работы</a>
                </h2>
                <div class="clothesline"></div>

                <a class="link" href="portfolioPage.html">
                    <div class="album">
                        <div class="album_pin album_pin__transform-4"></div>
                        <div class="album_pages">
                            <div class="album_page album_page__transform-init album_page__transform-2">
                                <img class="album_photo" src="./images/album/vdnx/_DSC1092.jpg" alt="">
                                <div class="album_label">Коллаж</div>
                            </div>
                            <div class="album_page album_page__transform-2">
                                <div class="album_photo"></div>
                            </div>
                            <div class="album_page album_page__transform-1">
                                <div class="album_photo"></div>
                            </div>
                            <div class="album_page album_page__transform-4">
                                <div class="album_photo"></div>
                            </div>
                            <div class="album_page album_page__transform-5">
                                <div class="album_photo"></div>
                            </div>
                        </div>
                    </div>
                </a>

                <a class="link" href="portfolioPage.html">
                    <div class="album">
                        <div class="album_pin album_pin__transform-1"></div>
                        <div class="album_pages">
                            <div class="album_page album_page__transform-init album_page__transform-1">
                                <img class="album_photo" src="./images/album/vdnx/_DSC1126.jpg" alt="">
                                <div class="album_label">Реклама</div>
                            </div>
                            <div class="album_page album_page__transform-4">
                                <div class="album_photo"></div>
                            </div>
                            <div class="album_page album_page__transform-2">
                                <div class="album_photo"></div>
                            </div>
                            <div class="album_page album_page__transform-3">
                                <div class="album_photo"></div>
                            </div>
                            <div class="album_page album_page__transform-1">
                                <div class="album_photo"></div>
                            </div>
                        </div>
                    </div>
                </a>

                <a class="link" href="portfolioPage.html">
                    <div class="album">
                        <div class="album_pin album_pin__transform-2"></div>
                        <div class="album_pages">
                            <div class="album_page album_page__transform-init album_page__transform-2">
                                <img class="album_photo" src="./images/album/vdnx/_DSC1193.jpg" alt="">
                                <div class="album_label">Студия</div>
                            </div>
                            <div class="album_page album_page__transform-5">
                                <div class="album_photo"></div>
                            </div>
                            <div class="album_page album_page__transform-2">
                                <div class="album_photo"></div>
                            </div>
                            <div class="album_page album_page__transform-4">
                                <div class="album_photo"></div>
                            </div>
                            <div class="album_page album_page__transform-3">
                                <div class="album_photo"></div>
                            </div>
                        </div>
                    </div>
                </a>

                <a class="link" href="portfolioPage.html">
                    <div class="album">
                        <div class="album_pin album_pin__transform-4"></div>
                        <div class="album_pages">
                            <div class="album_page album_page__transform-init album_page__transform-3">
                                <img class="album_photo" src="./images/album/vdnx/_DSC1126.jpg" alt="">
                                <div class="album_label">Локации</div>
                            </div>
                            <div class="album_page album_page__transform-5">
                                <div class="album_photo"></div>
                            </div>
                            <div class="album_page album_page__transform-2">
                                <div class="album_photo"></div>
                            </div>
                            <div class="album_page album_page__transform-4">
                                <div class="album_photo"></div>
                            </div>
                            <div class="album_page album_page__transform-3">
                                <div class="album_photo"></div>
                            </div>
                        </div>
                    </div>
                </a>

                <div class="clothesline"></div>

                <a class="link" href="portfolioPage.html">
                    <div class="album">
                        <div class="album_pin album_pin__transform-3"></div>
                        <div class="album_pages">
                            <div class="album_page album_page__transform-init album_page__transform-4">
                                <img class="album_photo" src="./images/album/vdnx/_DSC1193.jpg" alt="">
                                <div class="album_label">Свадьбы</div>
                            </div>
                            <div class="album_page album_page__transform-5">
                                <div class="album_photo"></div>
                            </div>
                            <div class="album_page album_page__transform-2">
                                <div class="album_photo"></div>
                            </div>
                            <div class="album_page album_page__transform-4">
                                <div class="album_photo"></div>
                            </div>
                            <div class="album_page album_page__transform-3">
                                <div class="album_photo"></div>
                            </div>
                        </div>
                    </div>
                </a>

                <a class="link" href="portfolioPage.html">
                    <div class="album">
                        <div class="album_pin album_pin__transform-1"></div>
                        <div class="album_pages">
                            <div class="album_page album_page__transform-init album_page__transform-5">
                                <img class="album_photo" src="./images/album/vdnx/_DSC1092.jpg" alt="">
                                <div class="album_label">События</div>
                            </div>
                            <div class="album_page album_page__transform-5">
                                <div class="album_photo"></div>
                            </div>
                            <div class="album_page album_page__transform-2">
                                <div class="album_photo"></div>
                            </div>
                            <div class="album_page album_page__transform-4">
                                <div class="album_photo"></div>
                            </div>
                            <div class="album_page album_page__transform-3">
                                <div class="album_photo"></div>
                            </div>
                        </div>
                    </div>
                </a>

                <a class="link" href="portfolioPage.html">
                    <div class="album">
                        <div class="album_pin album_pin__transform-4"></div>
                        <div class="album_pages">
                            <div class="album_page album_page__transform-init">
                                <img class="album_photo" src="./images/album/vdnx/_DSC1126.jpg" alt="">
                                <div class="album_label">Паркран</div>
                            </div>
                            <div class="album_page album_page__transform-5">
                                <div class="album_photo"></div>
                            </div>
                            <div class="album_page album_page__transform-2">
                                <div class="album_photo"></div>
                            </div>
                            <div class="album_page album_page__transform-4">
                                <div class="album_photo"></div>
                            </div>
                            <div class="album_page album_page__transform-3">
                                <div class="album_photo"></div>
                            </div>
                        </div>
                    </div>
                </a>

                <a class="link" href="portfolioPage.html">
                    <div class="album">
                        <div class="album_pin album_pin__transform-2"></div>
                        <div class="album_pages">
                            <div class="album_page album_page__transform-init">
                                <img class="album_photo" src="./images/album/vdnx/_DSC1133.jpg" alt="">
                                <div class="album_label">ВДНХ</div>
                            </div>
                            <div class="album_page album_page__transform-5">
                                <div class="album_photo"></div>
                            </div>
                            <div class="album_page album_page__transform-2">
                                <div class="album_photo"></div>
                            </div>
                            <div class="album_page album_page__transform-4">
                                <div class="album_photo"></div>
                            </div>
                            <div class="album_page album_page__transform-3">
                                <div class="album_photo"></div>
                            </div>
                        </div>
                    </div>
                </a>

                <div class="clothesline"></div>

                <a class="link" href="portfolioPage.html">
                    <div class="album">
                        <div class="album_pin album_pin__transform-3"></div>
                        <div class="album_pages">
                            <div class="album_page album_page__transform-init">
                                <img class="album_photo" src="./images/album/vdnx/_DSC1145.jpg" alt="">
                                <div class="album_label">ВДНХ</div>
                            </div>
                            <div class="album_page album_page__transform-5">
                                <div class="album_photo"></div>
                            </div>
                            <div class="album_page album_page__transform-2">
                                <div class="album_photo"></div>
                            </div>
                            <div class="album_page album_page__transform-4">
                                <div class="album_photo"></div>
                            </div>
                            <div class="album_page album_page__transform-3">
                                <div class="album_photo"></div>
                            </div>
                        </div>
                    </div>
                </a>

                <a class="link" href="portfolioPage.html">
                    <div class="album">
                        <div class="album_pin album_pin__transform-2"></div>
                        <div class="album_pages">
                            <div class="album_page album_page__transform-init">
                                <img class="album_photo" src="./images/album/vdnx/_DSC1183.jpg" alt="">
                                <div class="album_label">ВДНХ</div>
                            </div>
                            <div class="album_page album_page__transform-5">
                                <div class="album_photo"></div>
                            </div>
                            <div class="album_page album_page__transform-2">
                                <div class="album_photo"></div>
                            </div>
                            <div class="album_page album_page__transform-4">
                                <div class="album_photo"></div>
                            </div>
                            <div class="album_page album_page__transform-3">
                                <div class="album_photo"></div>
                            </div>
                        </div>
                    </div>
                </a>

                <a class="link" href="portfolioPage.html">
                    <div class="album">
                        <div class="album_pin album_pin__transform-1"></div>
                        <div class="album_pages">
                            <div class="album_page album_page__transform-init album_page__transform-1">
                                <img class="album_photo" src="./images/album/vdnx/_DSC1193.jpg" alt="">
                                <div class="album_label">ВДНХ</div>
                            </div>
                        </div>
                    </div>
                </a>
            </div>

        </main>

        <footer class="footer">
            <nav class="nav">
                <ul class="navigation">
                    <li class="navigation_link">
                        <a class="link link__active" href="portfolio.html" title="Портфолио">
                            Портфолио
                        </a>
                    </li>
                    <li class="navigation_link">
                        <a class="link"href="price.html" title="Цены">
                            Цены
                        </a>
                    </li>
                    <li class="navigation_link">
                        <a class="link" href="blog.html" title="Блог">
                            Блог
                        </a>
                    </li>
                    <li class="navigation_link">
                        <a class="link" href="contacts.html" title="Контакты">
                            Контакты
                        </a>
                    </li>
                </ul>
            </nav>

            <div class="social">
                <a class="link social_link social_link__instagram" href="#" title="Instagram"></a>
                <a class="link social_link social_link__vk" href="#" title="VK" ></a>
            </div>
          
            <p class="copyright">© 2018 khoroshilova.pro Copyright</p>
        </footer>
    </div>
</body>
</html>