<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Цены - Татьяна Хорошилова</title>
    <link rel="icon" href="images/photo-camera.png" type="image/x-icon">
    <meta name="keywords" content="Ключевые слова, и, фразы, через, запятую">
    <meta name="description" content="Описание контента страницы, 1-2 предложения.">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300" rel="stylesheet">
    <link rel="stylesheet" href="css/main.css">

</head>
<body class="body">
    <div class="shadow"></div>
    <div class="container">
        <header class="header">
            <div class="logo">
                <a class="link logo_image logo_image__price" href="index.html" title="Татьяна Хорошилова"></a>
                <div class="logo_info">
                    <h1 class="logo_title">Татьяна Хорошилова</h1>
                    <h2 class="logo_subtitle">Фотограф-ретушёр</h2>
                </div>
            </div>

            <nav class="nav">
                <ul class="navigation">
                    <li class="navigation_link">
                        <a class="link" href="portfolio.html" title="Портфолио">
                            Портфолио
                        </a>
                    </li>
                    <li class="navigation_link">
                        <a class="link link__active" href="price.html" title="Цены">
                            Цены
                        </a>
                    </li>
                    <li class="navigation_link">
                        <a class="link" href="blog.html" title="Блог">
                            Блог
                        </a>
                    </li>
                    <li class="navigation_link">
                        <a class="link" href="contacts.html" title="Контакты">
                            Контакты
                        </a>
                    </li>
                </ul>
            </nav>
        </header>

        <main class="main">

                <h2>Указанные ниже цены являются приблизительным расчетом. Окончательная стоимость может варьироваться в зависимости от деталей и сложности каждого проекта и обсуждается индивидуально. Стоимость коммерческих проектов(рекламная, предметная, интерьерная съемка) также оговаривается индивидуально.</h2>
                <h3>1. Пакет «Poster»</h3>
                <p>Художественная съемка. 1 постер с заменой фона и созданием уникальной сцены + от 10 студийных фотографий в авторской обработке. Стоимость зависит от степени сложности проекта. На итоговую цену могут повлиять такие дополнительные опции:</p>
                <ul>
                    <li>работа визажиста или мастера боди-арт</li>
                    <li>работа декоратора</li>
                    <li>работа флориста</li>
                    <li>работа костюмера</li>
                    <li>аренда студии</li>
                    <li>создание уникального 3D объекта (проекты повышенной сложности)</li>
                </ul>
                <p>Все фотографии заказчик получает в электронном виде через файлообменник "Яндекс.Диск"</p>
                <p>Пример:</p>
                <div class="photo-albums">
                    <div class="clothesline"></div>

                    <a class="link" href="#">
                        <div class="album">
                            <div class="album_pin album_pin__transform-4"></div>
                            <div class="album_pages">
                                <div class="album_page album_page__transform-init album_page__transform-2">
                                    <img class="album_photo" src="./images/album/vdnx/_DSC1092.jpg" alt="">
                                    <div class="album_label">Коллаж</div>
                                </div>
                            </div>
                        </div>
                    </a>
    
                    <a class="link" href="#">
                        <div class="album">
                            <div class="album_pin album_pin__transform-1"></div>
                            <div class="album_pages">
                                <div class="album_page album_page__transform-init album_page__transform-1">
                                    <img class="album_photo" src="./images/album/vdnx/_DSC1126.jpg" alt="">
                                    <div class="album_label">Реклама</div>
                                </div>
                            </div>
                        </div>
                    </a>
    
                    <a class="link" href="#">
                        <div class="album">
                            <div class="album_pin album_pin__transform-2"></div>
                            <div class="album_pages">
                                <div class="album_page album_page__transform-init album_page__transform-2">
                                    <img class="album_photo" src="./images/album/vdnx/_DSC1193.jpg" alt="">
                                    <div class="album_label">Студия</div>
                                </div>
                            </div>
                        </div>
                    </a>
    
                    <a class="link" href="#">
                        <div class="album">
                            <div class="album_pin album_pin__transform-4"></div>
                            <div class="album_pages">
                                <div class="album_page album_page__transform-init album_page__transform-3">
                                    <img class="album_photo" src="./images/album/vdnx/_DSC1126.jpg" alt="">
                                    <div class="album_label">Локации</div>
                                </div>
                            </div>
                        </div>
                        </a>
                </div>
                <p>Стоимость без дополнительных опций: 6000р.</p>

                <h3>2. Пакет «Simple»</h3>
                <p>Художественная фотосъемка в студии. от 30 фото в первичной обработке + от 15 фотографий в авторской ретуши. (количество фотографий зависит от продолжительности съемки, данное количество соответствует 1 часу съемки)</p>
                <p>Все фотографии заказчик получает в электронном виде через файлообменник "Яндекс.Диск"</p>
                <p>Пример:</p>
                <div class="photo-albums">
                    <div class="clothesline"></div>

                    <a class="link" href="#">
                        <div class="album">
                            <div class="album_pin album_pin__transform-4"></div>
                            <div class="album_pages">
                                <div class="album_page album_page__transform-init album_page__transform-2">
                                    <img class="album_photo" src="./images/album/vdnx/_DSC1092.jpg" alt="">
                                    <div class="album_label">Коллаж</div>
                                </div>
                            </div>
                        </div>
                    </a>
    
                    <a class="link" href="#">
                        <div class="album">
                            <div class="album_pin album_pin__transform-3"></div>
                            <div class="album_pages">
                                <div class="album_page album_page__transform-init album_page__transform-1">
                                    <img class="album_photo" src="./images/album/vdnx/_DSC1126.jpg" alt="">
                                    <div class="album_label">Реклама</div>
                                </div>
                            </div>
                        </div>
                    </a>
    
                    <a class="link" href="#">
                        <div class="album">
                            <div class="album_pin album_pin__transform-2"></div>
                            <div class="album_pages">
                                <div class="album_page album_page__transform-init album_page__transform-2">
                                    <img class="album_photo" src="./images/album/vdnx/_DSC1193.jpg" alt="">
                                    <div class="album_label">Студия</div>
                                </div>
                            </div>
                        </div>
                    </a>
    
                    <a class="link" href="#">
                        <div class="album">
                            <div class="album_pin album_pin__transform-1"></div>
                            <div class="album_pages">
                                <div class="album_page album_page__transform-init album_page__transform-3">
                                    <img class="album_photo" src="./images/album/vdnx/_DSC1126.jpg" alt="">
                                    <div class="album_label">Локации</div>
                                </div>
                            </div>
                        </div>
                        </a>
                </div>
                <p>Стоимость:</p>
                <ul>
                    <li>1-2 часа - 3500р./час</li>
                    <li>3-4 часа - 3000р./час</li>
                </ul>

                <h3>3. Пакет «Location»</h3> 
                <p>Художественная съемка на выезде в любой одной локации (1-1,5 часа). Съемка проводится с дополнительным мобильным студийным освещением и ассистентом, что позволяет получить фотографии студийного качества в любом месте вне студии. от 50 фото в первичной обработке + от 20 фото в авторской ретуши.</p>
                <p>Все фотографии заказчик получает в электронном виде через файлообменник "Яндекс.Диск"</p>
                <p>Пример:</p>
                <div class="photo-albums">
                    <div class="clothesline"></div>

                    <a class="link" href="#">
                        <div class="album">
                            <div class="album_pin album_pin__transform-1"></div>
                            <div class="album_pages">
                                <div class="album_page album_page__transform-init album_page__transform-2">
                                    <img class="album_photo" src="./images/album/vdnx/_DSC1092.jpg" alt="">
                                    <div class="album_label">Коллаж</div>
                                </div>
                            </div>
                        </div>
                    </a>
    
                    <a class="link" href="#">
                        <div class="album">
                            <div class="album_pin album_pin__transform-2"></div>
                            <div class="album_pages">
                                <div class="album_page album_page__transform-init album_page__transform-1">
                                    <img class="album_photo" src="./images/album/vdnx/_DSC1126.jpg" alt="">
                                    <div class="album_label">Реклама</div>
                                </div>
                            </div>
                        </div>
                    </a>
    
                    <a class="link" href="#">
                        <div class="album">
                            <div class="album_pin album_pin__transform-3"></div>
                            <div class="album_pages">
                                <div class="album_page album_page__transform-init album_page__transform-2">
                                    <img class="album_photo" src="./images/album/vdnx/_DSC1193.jpg" alt="">
                                    <div class="album_label">Студия</div>
                                </div>
                            </div>
                        </div>
                    </a>
    
                    <a class="link" href="#">
                        <div class="album">
                            <div class="album_pin album_pin__transform-4"></div>
                            <div class="album_pages">
                                <div class="album_page album_page__transform-init album_page__transform-3">
                                    <img class="album_photo" src="./images/album/vdnx/_DSC1126.jpg" alt="">
                                    <div class="album_label">Локации</div>
                                </div>
                            </div>
                        </div>
                        </a>
                </div>
                <p>Стоимость: от 3500р.</p>

                <h3>Дополнительные услуги:</h3>
                <ul>
                    <li>Макияж - 1600р.</li>
                    <li>Макияж + Укладка - 2000р.</li>
                    <li>Создание уникального образа - 3500р</li>
                </ul>

        </main>

        <footer class="footer">
            <nav class="nav">
                <ul class="navigation">
                    <li class="navigation_link">
                        <a class="link" href="portfolio.html" title="Портфолио">
                            Портфолио
                        </a>
                    </li>
                    <li class="navigation_link">
                        <a class="link link__active" href="price.html" title="Цены">
                            Цены
                        </a>
                    </li>
                    <li class="navigation_link">
                        <a class="link" href="blog.html" title="Блог">
                            Блог
                        </a>
                    </li>
                    <li class="navigation_link">
                        <a class="link" href="contacts.html" title="Контакты">
                            Контакты
                        </a>
                    </li>
                </ul>
            </nav>

            <div class="social">
                <a class="link social_link social_link__instagram" href="#" title="Instagram"></a>
                <a class="link social_link social_link__vk" href="#" title="VK" ></a>
            </div>

            <p class="copyright">© 2018 khoroshilova.pro Copyright</p>
        </footer>
    </div>
</body>
</html>