.contacts {
    text-align: center;
    padding: 40px 0;
}

.contacts_details {
    list-style-type: none;
    margin: 0;
    padding: 20px 0 0 0;
}

.qr {
    text-align: center;
  
}

.qr_images {
    display: inline-block;
    height: 250px;
    width: 250px;
    padding: 10px;
    background-color: #fff;
    border-radius: 10px;
}