<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.thymeleaf.org ">
<head></head>
<body>
<div th:fragment="header">
    <header class="header">
        <div class="logo">
            <a class="link logo_image" href="index.html" th:href="@{/}" title="Татьяна Хорошилова"></a>
            <div class="logo_info">
                <h1 class="logo_title">Татьяна Хорошилова</h1>
                <h2 class="logo_subtitle">Фотограф-ретушёр</h2>
            </div>
        </div>
        <nav class="nav">
            <ul class="navigation">
                <li class="navigation_link">
                    <a class="link" href="portfolio.html" th:href="@{/portfolio}" th:classappend="${activePage == 'portfolio' ? 'link__active' : ''}" title="Портфолио">
                        <div th:if="${activePage == 'index'}" class="navigation_icon navigation_icon__portfolio"></div>
                        Портфолио
                    </a>
                </li>
                <li class="navigation_link">
                    <a class="link" href="price.html" th:href="@{/price}" th:classappend="${activePage == 'price' ? 'link__active' : ''}" title="Цены">
                        <div th:if="${activePage == 'index'}" class="navigation_icon navigation_icon__price"></div>
                        Цены
                    </a>
                </li>
                <li class="navigation_link">
                    <a class="link" href="blog.html" th:href="@{/blog}" th:classappend="${activePage == 'blog' ? 'link__active' : ''}" title="Блог">
                        <div th:if="${activePage == 'index'}" class="navigation_icon navigation_icon__blog"></div>
                        Блог
                    </a>
                </li>
                <li class="navigation_link">
                    <a class="link" href="contacts.html" th:href="@{/contacts}" th:classappend="${activePage == 'contacts' ? 'link__active' : ''}" title="Контакты">
                        <div  th:if="${activePage == 'index'}" class="navigation_icon navigation_icon__contacts"></div>
                        Контакты
                    </a>
                </li>
            </ul>
        </nav>
    </header>
</div>
</body>
</html>