<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.thymeleaf.org ">
<head></head>
<body>
<div th:fragment="contacts">
    <main class="main">
        <div class="card">
            <div class="contacts">
                <div class="qr">
                    <div class="qr_image"></div>
                </div>

                <ul class="contacts_details">
                    <li class="contacts_info">Татьяна Хорошилова</li>
                    <li class="contacts_info">Москва, Железнодорожный</li>
                </ul>
                <ul class="contacts_details">
                    <li class="contacts_info"><a class="link" href="tel:89169915770">89169915770</a></li>
                    <li class="contacts_info"><a class="link" href="mailto:tatyana@khoroshilova.pro">tatyana@khoroshilova.pro</a></li>
                </ul>
            </div>
        </div>
    </main>
</div>
</body>
</html>