<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.thymeleaf.org ">
<head></head>
<body>
<div th:fragment="portfolio">
    <main class="main">

        <div class="photo-albums">
            <h2>
                <a href="portfolio.html" class="link link__active">Работы</a>
            </h2>
            <div class="clothesline"></div>

            <a class="link" href="portfolioPage.html">
                <div class="album">
                    <div class="album_pin album_pin__transform-4"></div>
                    <div class="album_pages">
                        <div class="album_page album_page__transform-init album_page__transform-2">
                            <img class="album_photo" src="./images/album/vdnx/_DSC1092.jpg" alt="">
                            <div class="album_label">Коллаж</div>
                        </div>
                        <div class="album_page album_page__transform-2">
                            <div class="album_photo"></div>
                        </div>
                        <div class="album_page album_page__transform-1">
                            <div class="album_photo"></div>
                        </div>
                        <div class="album_page album_page__transform-4">
                            <div class="album_photo"></div>
                        </div>
                        <div class="album_page album_page__transform-5">
                            <div class="album_photo"></div>
                        </div>
                    </div>
                </div>
            </a>

            <a class="link" href="portfolioPage.html">
                <div class="album">
                    <div class="album_pin album_pin__transform-1"></div>
                    <div class="album_pages">
                        <div class="album_page album_page__transform-init album_page__transform-1">
                            <img class="album_photo" src="./images/album/vdnx/_DSC1126.jpg" alt="">
                            <div class="album_label">Реклама</div>
                        </div>
                        <div class="album_page album_page__transform-4">
                            <div class="album_photo"></div>
                        </div>
                        <div class="album_page album_page__transform-2">
                            <div class="album_photo"></div>
                        </div>
                        <div class="album_page album_page__transform-3">
                            <div class="album_photo"></div>
                        </div>
                        <div class="album_page album_page__transform-1">
                            <div class="album_photo"></div>
                        </div>
                    </div>
                </div>
            </a>

            <a class="link" href="portfolioPage.html">
                <div class="album">
                    <div class="album_pin album_pin__transform-2"></div>
                    <div class="album_pages">
                        <div class="album_page album_page__transform-init album_page__transform-2">
                            <img class="album_photo" src="./images/album/vdnx/_DSC1193.jpg" alt="">
                            <div class="album_label">Студия</div>
                        </div>
                        <div class="album_page album_page__transform-5">
                            <div class="album_photo"></div>
                        </div>
                        <div class="album_page album_page__transform-2">
                            <div class="album_photo"></div>
                        </div>
                        <div class="album_page album_page__transform-4">
                            <div class="album_photo"></div>
                        </div>
                        <div class="album_page album_page__transform-3">
                            <div class="album_photo"></div>
                        </div>
                    </div>
                </div>
            </a>

            <a class="link" href="portfolioPage.html">
                <div class="album">
                    <div class="album_pin album_pin__transform-4"></div>
                    <div class="album_pages">
                        <div class="album_page album_page__transform-init album_page__transform-3">
                            <img class="album_photo" src="./images/album/vdnx/_DSC1126.jpg" alt="">
                            <div class="album_label">Локации</div>
                        </div>
                        <div class="album_page album_page__transform-5">
                            <div class="album_photo"></div>
                        </div>
                        <div class="album_page album_page__transform-2">
                            <div class="album_photo"></div>
                        </div>
                        <div class="album_page album_page__transform-4">
                            <div class="album_photo"></div>
                        </div>
                        <div class="album_page album_page__transform-3">
                            <div class="album_photo"></div>
                        </div>
                    </div>
                </div>
            </a>

            <div class="clothesline"></div>

            <a class="link" href="portfolioPage.html">
                <div class="album">
                    <div class="album_pin album_pin__transform-3"></div>
                    <div class="album_pages">
                        <div class="album_page album_page__transform-init album_page__transform-4">
                            <img class="album_photo" src="./images/album/vdnx/_DSC1193.jpg" alt="">
                            <div class="album_label">Свадьбы</div>
                        </div>
                        <div class="album_page album_page__transform-5">
                            <div class="album_photo"></div>
                        </div>
                        <div class="album_page album_page__transform-2">
                            <div class="album_photo"></div>
                        </div>
                        <div class="album_page album_page__transform-4">
                            <div class="album_photo"></div>
                        </div>
                        <div class="album_page album_page__transform-3">
                            <div class="album_photo"></div>
                        </div>
                    </div>
                </div>
            </a>

            <a class="link" href="portfolioPage.html">
                <div class="album">
                    <div class="album_pin album_pin__transform-1"></div>
                    <div class="album_pages">
                        <div class="album_page album_page__transform-init album_page__transform-5">
                            <img class="album_photo" src="./images/album/vdnx/_DSC1092.jpg" alt="">
                            <div class="album_label">События</div>
                        </div>
                        <div class="album_page album_page__transform-5">
                            <div class="album_photo"></div>
                        </div>
                        <div class="album_page album_page__transform-2">
                            <div class="album_photo"></div>
                        </div>
                        <div class="album_page album_page__transform-4">
                            <div class="album_photo"></div>
                        </div>
                        <div class="album_page album_page__transform-3">
                            <div class="album_photo"></div>
                        </div>
                    </div>
                </div>
            </a>

            <a class="link" href="portfolioPage.html">
                <div class="album">
                    <div class="album_pin album_pin__transform-4"></div>
                    <div class="album_pages">
                        <div class="album_page album_page__transform-init">
                            <img class="album_photo" src="./images/album/vdnx/_DSC1126.jpg" alt="">
                            <div class="album_label">Паркран</div>
                        </div>
                        <div class="album_page album_page__transform-5">
                            <div class="album_photo"></div>
                        </div>
                        <div class="album_page album_page__transform-2">
                            <div class="album_photo"></div>
                        </div>
                        <div class="album_page album_page__transform-4">
                            <div class="album_photo"></div>
                        </div>
                        <div class="album_page album_page__transform-3">
                            <div class="album_photo"></div>
                        </div>
                    </div>
                </div>
            </a>

            <a class="link" href="portfolioPage.html">
                <div class="album">
                    <div class="album_pin album_pin__transform-2"></div>
                    <div class="album_pages">
                        <div class="album_page album_page__transform-init">
                            <img class="album_photo" src="./images/album/vdnx/_DSC1133.jpg" alt="">
                            <div class="album_label">ВДНХ</div>
                        </div>
                        <div class="album_page album_page__transform-5">
                            <div class="album_photo"></div>
                        </div>
                        <div class="album_page album_page__transform-2">
                            <div class="album_photo"></div>
                        </div>
                        <div class="album_page album_page__transform-4">
                            <div class="album_photo"></div>
                        </div>
                        <div class="album_page album_page__transform-3">
                            <div class="album_photo"></div>
                        </div>
                    </div>
                </div>
            </a>

            <div class="clothesline"></div>

            <a class="link" href="portfolioPage.html">
                <div class="album">
                    <div class="album_pin album_pin__transform-3"></div>
                    <div class="album_pages">
                        <div class="album_page album_page__transform-init">
                            <img class="album_photo" src="./images/album/vdnx/_DSC1145.jpg" alt="">
                            <div class="album_label">ВДНХ</div>
                        </div>
                        <div class="album_page album_page__transform-5">
                            <div class="album_photo"></div>
                        </div>
                        <div class="album_page album_page__transform-2">
                            <div class="album_photo"></div>
                        </div>
                        <div class="album_page album_page__transform-4">
                            <div class="album_photo"></div>
                        </div>
                        <div class="album_page album_page__transform-3">
                            <div class="album_photo"></div>
                        </div>
                    </div>
                </div>
            </a>

            <a class="link" href="portfolioPage.html">
                <div class="album">
                    <div class="album_pin album_pin__transform-2"></div>
                    <div class="album_pages">
                        <div class="album_page album_page__transform-init">
                            <img class="album_photo" src="./images/album/vdnx/_DSC1183.jpg" alt="">
                            <div class="album_label">ВДНХ</div>
                        </div>
                        <div class="album_page album_page__transform-5">
                            <div class="album_photo"></div>
                        </div>
                        <div class="album_page album_page__transform-2">
                            <div class="album_photo"></div>
                        </div>
                        <div class="album_page album_page__transform-4">
                            <div class="album_photo"></div>
                        </div>
                        <div class="album_page album_page__transform-3">
                            <div class="album_photo"></div>
                        </div>
                    </div>
                </div>
            </a>

            <a class="link" href="portfolioPage.html">
                <div class="album">
                    <div class="album_pin album_pin__transform-1"></div>
                    <div class="album_pages">
                        <div class="album_page album_page__transform-init album_page__transform-1">
                            <img class="album_photo" src="./images/album/vdnx/_DSC1193.jpg" alt="">
                            <div class="album_label">ВДНХ</div>
                        </div>
                    </div>
                </div>
            </a>
        </div>

    </main>
</div>
</body>
</html>