.album-list {
    text-align: center;
}

.clothesline {
    width: 100%;
    border: 1px dotted #4a4490;
    height: 1px;
    background-color: #9c9c9c;
}


.clothesline__left-1::before {
    float: left;
    content: '';
    display: block;
    background-image: url(./images/bird.svg);
    transform: scale(-1, 1);
    width: 30px;
    height: 30px;
    margin: -10px 0 0 -30px;
}


.clothesline__right-1::after {
    float: right;
    content: '';
    display: block;
    background-image: url(./images/bird.svg);
    width: 30px;
    height: 30px;
    margin: -10px -30px 0 0;
}

.clothesline__left-2::before {
    float: left;
    content: '';
    display: block;
    background-image: url(./images/bird2.svg);
    width: 30px;
    height: 30px;
    margin: -16px 0 0 -30px;
}

.clothesline__right-2::after {
    float: right;
    content: '';
    display: block;
    background-image: url(./images/bird2.svg);
    transform: scale(-1, 1);
    width: 30px;
    height: 30px;
    margin: -16px -30px 0 0;
}

.clothesline__left-3::before {
    float: left;
    content: '';
    display: block;
    background-image: url(./images/dove.svg);
    width: 30px;
    height: 30px;
    margin: -11px 0 0 -30px;
}

.clothesline__right-3::after {
    float: right;
    content: '';
    display: block;
    background-image: url(./images/dove.svg);
    transform: scale(-1, 1);
    width: 30px;
    height: 30px;
    margin: -11px -30px 0 0;
}

.clothesline__left-4::before {
    float: left;
    content: '';
    display: block;
    background-image: url(./images/pigeon.svg);
    width: 30px;
    height: 30px;
    margin: -14px 0 0 -30px;
}

.clothesline__right-4::after {
    float: right;
    content: '';
    display: block;
    background-image: url(./images/pigeon.svg);
    transform: scale(-1, 1);
    width: 30px;
    height: 30px;
    margin: -14px -30px 0 0;
}