.nav {
    padding: 40px 0;
    text-align: center;
}

.navigation {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.navigation_link {
    text-align: left;
    vertical-align: middle;
    display: inline-block;
    padding: 0 32px;
}

.navigation_icon {
    text-align: left;
    vertical-align: middle;
    display: inline-block;
    width: 2em;
    height: 2em;
}

.navigation_label {
    padding: 0 0 0 1em;
    display: inline-block;
    vertical-align: baseline;
}

.navigation_icon__portfolio {
    background-image: url("./images/gallery.svg")
}

.navigation_icon__price {
    background-image: url("./images/money.svg")
}

.navigation_icon__blog {
    background-image: url("./images/diary.svg")
}

.navigation_icon__contacts {
    background-image: url("./images/speech.svg")
}

.navigation_icon__suitcase {
    background-image: url("./images/suitcase.svg")
}
