.shadow {
    position: fixed;
    z-index: 0;
    float: left;
    width: 100%;
    height: 100%;

    background: linear-gradient(-45deg, #EE7752, #E73C7E, #23A6D5, #23D5AB);
    background-size: 400% 400%;
    animation: GradientBackground 60s ease infinite;
    box-shadow: inset 0 0 100px rgba(0,0,0,0.5);
}

@keyframes GradientBackground {
    0% {
        background-position: 0% 50%
    }
    50% {
        background-position: 100% 50%
    }
    100% {
        background-position: 0% 50%
    }
}